<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title><%=settings.title%></title>
    <script src="./jquery/jquery-1.10.0.js"></script>
    <script src="./tomatodo/js/snippet.js"></script>
</head>
<body>

</html>